<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" type="image/jpg" href="/static/logo.jpg.png" style="height:40px;">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
       </head>
     <title>Munaene</title>
     <style>
        #bible{
           height: 360px;
           width: 100%;
           object-fit: cover;
           border-radius: 8px;
       }

     </style>
  </head>
  <body style="background-color:#caf4fa;">
     {% include 'nav.html' %}
     <div id ="container" class="container">
     <H1 class="text-center mt-2 mb-4">Muna-ene</H1>
     <img src = "{{ url_for ('static', filename = 'Car.jpg')}}" height="320" id="bible"  class="img-fluid" >
        <h2 class="text-center mt-2 mb-4">About Muna-ene</h2>
        <div class="row">
           <div class="col-md-7">
     <p class="lead">Muna-ene is dedicated to connecting job seekers with exciting opportunities and helping organizations find the perfect talent. Our platform streamlines the hiring process by clearly presenting open roles—from Data Analysts to Backend Engineers and everything in between—with key details like location and salary. We aim to be the most trusted and efficient bridge between your professional aspirations and the next great challenge, fostering a vibrant community where careers thrive and businesses succeed.</p>
       </div>
           <div class = "d-none d-md-block col-md-5">
              <img src = "/static/people.jpg" style="height: 320px; border-radius:4px; object-fit: cover;" class="img-fluid">
           </div>
        </div>
 <h2 class="text-center mt-2 mb-4">open jobs</h2>
     <div>
        {% for job in jobs%}
        {% include 'jobitems.html' %}
         {% endfor %}
     </div>
        <div style="text-align: center;">
     <a class="btn btn-success" href="mailto:chikaanthony896@gmail.com?subject=Questions&body=My%20Question%20is%3A%20">Contact Us</a>
     <p id="footer" class="mt-5">Copyright 2025, Muna-ene</p></div>
        </div>
     {% include 'footer.html' %}
  </body>
</html>