
<div class="border-bottom row" style="padding: 6px;">
   <div class=" col-9">
    <h3 
       style="color: #121d3b" class="mb-1 mt-4">
       {{job['title']}}
    </h3>
    <div>
     <b>location:</b>{{job['location']}}
     </div>
   {% if 'salary' in job%}
        <div>
           <b>salary:</b>{{job['salary']}}
           </div>
   {% endif %}
   </div>
   <div class="col-3">
   <a href ="mailto: chikaanthony896@gmail.com?subject=No come hustle 😂😂, you soon cry{{jobs['title']}}"type="button" class="btn btn-info">Apply</a>
   </div>

           </div>